.numero{text-align:right;}
.pull-right{float: right!important;}
.wrap {position: absolute;	top: 50%;	left: 50%;	transform: translate(-50%, -50%);}
.text {color: #fbae17;display: inline-block;margin-left: 5px;}

.bounceball {
	position: relative;
	display: inline-block;
	height: 37px;
	width: $width;
		&:before {
			position: absolute;
			content: '';
			display: block;
			top: 0;
			width: $width;
			height: $height;
			border-radius: 50%;
			background-color: #fbae17;
			transform-origin: 50%;
			animation: bounce 500ms alternate infinite ease;
	}
}

.owl-prev {width: 10px; 	height: 100px;	position: absolute;	top: 30%;	display: block !important;	border:0px solid black;	margin: -15px !important;	font-size: 35px !important;}
.owl-next {
	width: 10px;
	height: 100px;
	position: absolute;
	top: 30%;
	right: -20px;
	display: block !important;
	border:0px solid black;
	margin-left: -15px !important;
	margin-right: 5px !important;
	margin-top: -15px !important;
	margin-bottom: -15px !important;
	font-size: 35px !important;
}

.owl-next:hover {background-color: white !important;	color:black !important;}
.owl-prev:hover{background-color: white !important;	color:black !important;}
.owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}

.scrollStyle::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);	background-color: #F5F5F5;}
.scrollStyle::-webkit-scrollbar{width: 10px;	background-color: #F5F5F5;}
.scrollStyle::-webkit-scrollbar-thumb
{
	background-color: #838384;
	background-image: -webkit-linear-gradient(45deg,
	rgba(255, 255, 255, .2) 25%,
	transparent 25%,
	transparent 50%,
	rgba(255, 255, 255, .2) 50%,
	rgba(255, 255, 255, .2) 75%,
	transparent 75%,
	transparent)
}

.truncate-overflow {display: block;	display: -webkit-box;	-webkit-line-clamp: 5;	-webkit-box-orient: vertical;	overflow: hidden;	text-overflow: "+";}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
	transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
	transform: scale(1.1);
}
#angleDown:hover{
	color:ghostwhite;
}

.swal2-container{z-index: 2050 !important;}

.error {
  border-color: red !important;
  background: #FDD !important;
}

.error:focus {
  outline-color: #F99 !important;
}

.non-selectablex  {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}